nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #FFE500;
}


.menu-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-nav a{
    padding-left: 100px;
    text-decoration: none;
    color: black;
}

.menu-nav a:hover{
    color: blue;
    text-decoration: underline;
    transition: .3s;
    cursor: pointer;
}

.boton-usuario{
    display: flex;
    align-items: center; /* Alinea verticalmente el contenido */
}

.boton-usuario a{
    margin-right: 20px; /* Ajusta el valor según el espacio que necesites */
}
footer{
    background-color: black;
    color: white;
}

.contenido-footer{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

a{
    text-decoration: none;
    color: black;
}

