

body {
    font-family: "Changa", sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: #FFE500;
}

nav .logo{
    margin-left: 40px;
}


.menu-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8%;
}

.menu-nav a{
    padding-left: 100px;
    text-decoration: none;
    color: black;
}

.menu-nav a:hover{
    color: blue;
    text-decoration: underline;
    transition: .3s;
    cursor: pointer;
}

.boton-usuario{
    display: flex;
    align-items: center; /* Alinea verticalmente el contenido */
    margin-right: 40px;
}

.boton-usuario a{
    margin-right: 30px; /* Ajusta el valor según el espacio que necesites */
}
footer{
    background-color: black;
    color: white;
}

.contenido-footer{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

a{
    text-decoration: none;
    color: black;
}

